ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


li {
    list-style-type: none;
    font-size: 1.5rem;


a {
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bolder;
}

}

}